.mainpane {
  margin: auto;
  min-width: 600px;
  max-width: 1250px;
  width: 80%;
  background-image: url("/images/background.jpg");
}
.header {
  height: 288px;
  width: 100%;
  background-image: url("/images/header.png");
  position: relative;
}
.container {
  position: absolute;
  width: 100%;
  bottom: 30px;
  display: table;
}
.logo {
  margin: auto;
  width: 493px;
  height: 281px;
  text-align: center;
  background-image: url("/images/logo-studiopepernoot.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.linkzwtv {
  position: absolute;
  left: 30px;
  bottom: 30px;
  width: 283px;
  height: 150px;
  background-image: url("/images/knop.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial;
  font-size: 18pt;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.linkzwtv a {
  color: #ffffff;
  padding-right: 15px;
}
.linksboz {
  position: absolute;
  right: 30px;
  bottom: 30px;
  width: 283px;
  height: 150px;
  background-image: url("/images/knop.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  font-family: Arial;
  font-size: 18pt;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.linksboz a {
  color: #ffffff;
  padding-right: 15px;
}

.main {
  width: 100%;
}

.footer {
  background-image: url("/images/footer.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: bottom;
  height: 587px;
}

.carousel {
  margin: auto;
  width: 80%;
}
.cell {
  padding: 14px;
  text-align: center;
  width: 80%;
}

.cell img {
  width: auto;
  height: auto;
  max-width: 100%;
  display: inline;
}

.slick-side img {
  display: inline;
}

.cell video {
  border: none;
  outline: none;
}

.title {
  text-transform: uppercase;
  color: #ffffff;
  font-family: Arial;
  font-size: 18pt;
}
